
:root {
  --background: #ffffff;
  --foreground: #171717;
  --second-base-color: rgb(245, 127, 31);
  --font-roboto: 'Roboto', sans-serif;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-roboto);
}
