.header{
    width: 100%;
    height: 4em;
}
.caixaHeader{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 100%;
    max-width: 1024px;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.caixaLogo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.iconeLogo{
    height: 40px;
    width: 40px;
    padding: 5px;
    background-color: var(--second-base-color);
    color: white;
    border-radius: 9px;
}
.textoLogo{
    font-size: 1.5em;
    font-weight: 800;
}
.textoLogo span{
    color: var(--second-base-color);
}
.listaMenu{
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

.menuLink{
    color: black;
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
}
.menuLinkDiferente{
    background-color: var(--second-base-color);
    color: white;
    border-radius: 20px ;
    padding: 10px 13px;
    transition: transform 0.2s;
}
.menuLinkDiferente:hover{
    transform: scale(1.1);
    transition: transform 0.2s;
    
}