.Banner{
    height: 92vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    gap: 30px;
    padding: 50px 30px;
}

.BannerTexto, .BannerImagemCaixa{
    height: 65%;
    width: 50%;
}

.BannerTexto {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
}
.textoTopo{
    padding: 15px;
    background-color: white;
    color: var(--second-base-color);
    font-weight: 700;
    width:max-content;
    display: flex;
    font-size: 14px;
    height: 15px;
    flex-direction: row;
    gap: 5px;
    justify-content: left;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 0 3px 0 rgb(151, 148, 148);

}
.estrela{
    color: var(--second-base-color);
}
.textoDestaque{
    font-size: 3.6em;
    line-height: 55px;
    font-weight: 1000;
    font-family: sans-serif;
}
.textoDestaque span{
    color: var(--second-base-color);
}
.texto{
    font-family: sans-serif;
    font-weight: 100;
    letter-spacing: 0.5px;
}
.caixaButton{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: left;
}
.button{
    padding: 30px 33px;
    font-size: 1em;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 5px;
    border-radius: 8px;
    border: 1px gray solid;
    height: 50px;
}
.buttonAgendar{
    background-color: black;
    color: white;
}
.buttonTelefone{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.buttonAgendar, .buttonTelefone{
    transition: transform 0.2s, box-shadow 0.2s;
}
.buttonAgendar:hover{
    box-shadow: 0 5px 10px rgb(202, 197, 197);
    transition: transform 0.2s, box-shadow 0.2s;
    transform: translateY(-5px);
}
.buttonTelefone:hover{
    box-shadow: 0 5px 10px rgb(202, 197, 197);
    transition: transform 0.2s, box-shadow 0.2s;
    transform: translateY(-5px);
}
.CiCalendar{
    font-size: 25px;
}
.BsTelephone{
    font-size: 19px;
}
.caixaTextoCheck{
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}
.textoCheck{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    color: rgb(92, 91, 91);
}
.CiCircleCheck{
    color: rgb(17, 172, 17);
    font-size: 18px;
}

.BannerImagemCaixa{
    background-color: rgb(245, 235, 221);
    transform: rotate(3deg);
    padding: 13px;
    border-radius: 50px;
}
.BannerImagem{
    transform: rotate(-3deg);
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
    border: 4px solid rgb(255, 255, 255);
}
.caixaPulaPula{
    display: inline-flex;
    align-items: center;
    gap: 15px;
    position: relative;
    bottom: 40px;
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgb(207, 188, 188);
    animation: CaixaPulaPula 0.5s infinite alternate ease-out;
}
@keyframes CaixaPulaPula {
    from{
        transform: translateY(0px) rotate(-3deg);
    }
    to{
        transform: translateY(-30px) rotate(-3deg);
    }

}
.FaHeart{
    height: 55px;
    width: 55px;
    background-color: rgb(179, 231, 101);
    padding: 15px;
    border-radius: 50%;
    color: green;
}
.BannerImagemTextoSpan{
    font-weight: bold;
}
.BannerImagemTexto{
    font-size: 0.8em;
    font-family: sans-serif;
    font-weight: 100;
}

